
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}
a {
  font-weight: bolder;
  font-size: 18px;
  color: #007bff;
}

a:hover {
  font-weight: bolder;
  font-size: 25px;
  color: darkcyan;
}

#navBars{
  border: blue;
}

.jumbotron{
  position: relative;
  background: transparent;
}

#jumbo2{
  background: transparent;
  border: transparent;
  text-align: center;
}

#containerSearch {
  text-align: center;
}


#search_box{
  display: inline-flexbox;
}

.form-control {
  border: 2px solid #007bff;
  box-shadow: 0 1px 0 0 #007bff;
  max-width: 50%;
  display: inline-block;
  
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {
  margin: 0 -50px;
  padding: 15px 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card-body{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
  text-align: center;
  background-color: #f1f1f1;
  font-size: 18px;
}

.card-title{
  font-weight: bolder;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
  text-align: center;
  background-color: #f1f1f1;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}